{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Корзина</h1>
        {% if basket %}
            {% for item in basket_items %}
                <div class="col-md-12 border rounded mb-2">
                    <h2>{{ item.product.title }}</h2>
                    {% if item.image_path %}
            <img src="{{ url_for('static', filename=item.image_path) }}" alt="{{ item.title }}" width="200">
        {% endif %}
                    <div>
                        {{ item.product.price }}₽
                    </div>
                    <div>
                        Количество: {{ item.quantity }}
                    </div>
                    <div>
        <a href="/quantity/{{ item.id }}" class="btn btn-primary">
            Изменить количество
        </a>
    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Ваша корзина пуста.</p>
        {% endif %}
    </div>
    {% if basket %}
    <div class="col-md-4">
        <div class="border rounded p-3">
            <h3>Итого</h3>
            <p>Общая стоимость: {{ t_price }}₽</p>
            <p>Общее количество: {{ t_quantity }}</p>
            <div>
        <a href="/buy" class="btn btn-primary">
            Приобрести
        </a>
    </div>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}